.box {
  background-color: green;
  color: white;
}
.box-one h2 {
  color: brown;
}
.box-one h3 {
  color: rgba();
}
.box h3 {
  background-color: rgb(0, 0, 255);
}
.box-one div h3 {
  color: #0011ff;
}
i .box-one div .item h3 {
  color: #01f;
}
