       h1{
            color: yellow ;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        h2{
            color: blue ;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .paragraf{
            color: red ;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    