.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #d760c7;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
}

.gambar-1 img {
  width: 100%;
}

.gambar-1 {
  width: 90%;
}
.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gambar-2 img {
  width: 100%;
}
.gambar-2 {
  width: 100%;
}
@media (min-width: 391px) {
  .container {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .gambar-2 {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
