* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./halo10.png);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 800px;
  margin: auto;
  background-color: rgb(178, 232, 195);
  padding: 10px;
  position: relative;
}
header h1 {
  margin-bottom: 10px;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
li a {
  text-decoration: none;
  color: black;
  font-weight: semi-bold;
  transition: ease ease-in-out 0.3s;
}
li a:hover {
  color: rgb(74, 33, 131);
  background-color: red;
  padding: 5px;
  border-radius: 30px;
}
.gambar {
  width: 100%;
  height: 200px;
  background-image: url(./doaa.jpg);
  background-size: cover;
  background-position: center;
  margin: 30px 0 30px 0;
  border-bottom: 5px;
}
h2 {
  margin: 0 0 20px 0;
}
h3 span {
  font-weight: bold;
  color: seagreen;
}
h3 {
  margin: 0 0 10px 0;
}
p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 10px;
  color: rgb(74, 33, 131);
}
footer {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 15px;
  text-align: center;
}
header {
  padding: 15px;
}
main {
  padding: 15px;
}
img {
  position: absolute;
  right: 0;
  top: 0;
}
