.header {
  background-color: rgb(44, 138, 44);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 1250px;
  z-index: 3;
}
.sidebar-kiri {
  background-color: rgb(196, 188, 188);
  margin-top: 60px;
  width: 200px;
  height: 900px;
}
.sticky {
  background-color: yellow;
  margin-top: 60px;
  width: 1100px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 70px;
  z-index: -1;
}
.element-one {
  display: flex;
  flex-direction: row;
}
.parent {
  background-color: rgb(190, 186, 186);
  border: 2px solid black;
  margin-left: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.child {
  background-color: rgb(64, 199, 84);
  border-radius: 10px;
  position: relative;
  width: 80px;
  height: 50px;
  left: 90px;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child p {
  position: absolute;
}
.konten-utama {
  background-color: rgb(218, 214, 214);
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid black;
}
.isi-konten {
  margin-left: 20px;
}
.footer {
  background-color: rgb(9, 81, 9);
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
