body {
  height: 100vh;
  background-color: skyblue;
}

.card-one {
  width: 200px;
  height: 200px;
  background-color: chartreuse;
  position: static; /** default */
}

.card-two {
  width: 200px;
  height: 200px;
  background-color: coral;
  position: relative;
  left: 10px;
  top: 10px;
}

.card-tree {
  width: 200px;
  height: 200px;
  background-color: darkmagenta;
  position: absolute;
  left: 100px;
}

hr {
  margin-top: 1000px !important;
}

.box-one {
  width: 200px;
  height: 200px;
  background-color: coral;
  position: relative;
}

.box-two {
  width: 80px;
  height: 80px;
  background-color: fuchsia;
  position: absolute;
  right: 5px;
}

.fix {
  width: 200px;
  height: 200px;
  background-color: rgb(17, 210, 62);
  position: fixed;
  right: 20%;
  top: 50%;
}
.navbar {
  width: 100vh;
  height: 70px;
  background-color: navy;
  position: sticky;
  top: 0;
}
