.item {
  background-color: red;
  color: white;
  height: 50px;
  width: 20%;
  margin-right: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: aquamarine;
}
.box {
  display: flex;
  flex-direction: column;
}
.putih {
  background-color: red;
  color: white;
  height: 50px;
  width: 20%;
  margin-right: 20px;
}
.latihan {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: chartreuse;
}
.latihan2 {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  padding: 20px;
}
